* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #343434;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} .container {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;

    padding: 20px;
} 
.container-profile {
    min-width: 300px;
    max-width: 500px;
    font-size: 22px;
}
.container-profile > img {
    width: 70%;
    margin: auto;
    display: block;
    border-radius: 50%;
}
.container-profile-redes {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 20px;
} .container-profile-redes img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    transition: all 0.5s;
} .container-profile-redes img:hover {
    transform: translateY(-10px);
}
.container-img {
    width: 100%;
}
.container-img > img {
    width: 100%;
}
.container-video {
    margin: auto;
    display: block;
    width: 100%;

    padding: 20px;
}
.container-video > iframe {
    width: 100%;
    height: 700px;
}

input {
    width: 70%;
    margin: auto;
    display: block;

    padding: 20px;

    font-size: 2.4em;

    text-align: center;

    background-color: transparent;
    outline: 0;
    color: white;
} h1 {
    text-align: center;
    font-size: 2.5em;

    margin: 10px 0 10px 0;
} button {
    width: 70%;
    margin: 10px auto;
    display: block;

    padding: 20px;
    font-size: 1.8em;
}
@media screen and (max-width: 968px) {
    .container {
        flex-direction: column;
    }
}